/* Fonts:
font-family: 'Poiret One', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

.container {
  min-height: 100%; 
  /* width: 100vw;
  height: 100vh; */
}

body {
  background-image: url(images/brickwall-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.top {
  padding-bottom: 50px;
}

header {
  background-color: black;
  padding: 30px;
  text-align: right;
  font-size: 45px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  float: left;
}

.logos img {
  text-align: center;
  /* width: 1fr;
  height: 1fr; */

}

.main {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
  align-items: stretch;
}

#left #right {
  display: flex;
  align-items: left;
}

p {
  font-size: 18px;
  text-align: justified;
}

.photo {
  transform: rotate(90deg);
}

.bottom {
  padding-top: 50px;
}

footer {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  text-align: center;
  background-color: black;
  padding: 10px;
  /* min-height: 100vh;  */
}